<ion-view view-title="Dashboard">
  <ion-content class="padding registro">
      <div align="center" style="margin-top:40px">
            <h3 style="color:black;">Crear Cuenta - Datos Financieros</h3>
      </div>
      <div style="margin-top:30px">
          <form ng-submit="finanza(data)">
          <div class="list">                
                <label class="item item-input item-floating-label">
                  <span class="input-label">Nombre Tarjeta Habiente: </span>
                  <input type="text" ng-model="data.nombre_tarjeta" placeholder="Nombre Tarjeta Habiente">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Número de Tarjeta: </span>
                  <input type="text" ng-model="data.tarjeta" placeholder="Número de Tarjeta">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">cvc: </span>
                  <input type="text" ng-model="data.cvc" placeholder="CVC">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Mes Vencimiento: </span>
                  <input type="number" ng-model="data.mes" placeholder="Mes de vencimiento">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Año Vencimiento: </span>
                  <input type="number" ng-model="data.anio" placeholder="Año de vencimiento">
                </label>
                <button type="submit" class="button button-balanced button-full">Registrar</button>                
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
