<ion-view view-title="Dashboard">
  <ion-content class="padding registro">
      <div align="center" style="margin-top:40px; color:black;">
            <h3 style="color:white;">Crear Cuenta</h3>
      </div>
      <div style="margin-top:30px">
          <div class="list">
                <label class="item item-input">
                  <span class="input-label">Email: </span>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input">
                  <span class="input-label">Contraseña: </span>
                  <input type="password" ng-model="data.password" placeholder="Contraseña">
                </label>
                <label class="item item-input">
                  <span class="input-label">Nombre: </span>
                  <input type="text" ng-model="data.clientes_nombre" placeholder="Nombre y Apellido">
                </label>
                <label class="item item-input">
                  <span class="input-label">Calle </span>
                  <input type="text" ng-model="data.calle" placeholder="Calle">
                </label>
                <label class="item item-input">
                  <span class="input-label">EXT: </span>
                  <input type="text" ng-model="data.ext" placeholder="EXT">
                </label>
                <label class="item item-input">
                  <span class="input-label">INT: </span>
                  <input type="text" ng-model="data.nroint" placeholder="INT">
                </label>
                <label class="item item-input">
                  <span class="input-label">Colonia: </span>
                  <input type="text" ng-model="data.colonia" placeholder="Colonia">
                </label>
                <label class="item item-input">
                  <span class="input-label">Ciudad: </span>
                  <input type="text" ng-model="data.ciudad" placeholder="Ciudad">
                </label>
                <label class="item item-input">
                  <span class="input-label">CP: </span>
                  <input type="text" ng-model="data.cp" placeholder="CP">
                </label>
                <label class="item item-input">
                  <span class="input-label">Teléfono Fijo: </span>
                  <input type="text" ng-model="data.telefono" placeholder="Teléfono Fijo">
                </label>
                <label class="item item-input">
                  <span class="input-label">Celular: </span>
                  <input type="text" ng-model="data.celular" placeholder="Teléfono Celular">
                </label>
                <div class="item item-checkbox" ng-click="mostrarCondiciones(data.condiciones)" style="color:white;">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="data.condiciones">
                    </label>
                    <u>Leer</u> y aceptar condiciones
                </div>
                <button class="button button-positive button-full" ng-click="personales(data)">Registrar</button>                
          </div>
      </div>
  </ion-content>
</ion-view>
