<ion-view view-title="Dashboard">
  <ion-content class="padding registro">
      <div align="center" style="margin-top:40px">
            <h3>Crear Cuenta - Confirma tu Ubicación</h3>
      </div>
      <div style="margin-top:30px">
          <app-map center="basel" zoom="15" location="location" direccion="datos.direccion"></app-map>
      </div>
  </ion-content>
</ion-view>
