<ion-modal-view style="color: white; background: rgba(0, 0, 0, 0.81) none repeat scroll 0px 0px; padding: 30px;">
    <div style="float:left" ng-click="closeModal();"><i class="icon ion-close"></i></div>
    <div style="text-align:center; font-weight:normal; font-size:20px"><i class="icon ion-ios-cart"></i></div>
    <div style="margin-top: 50px;" class="list">
        <label class="item item-input">
          {{car.nombre}}
        </label>   
        <label class="item item-input">
            <div class="input-label">
              Cantidad $
            </div>
            <input type="number" placeholder="Escriba la cantidad" ng-model="car.cantidad" ng-change="refreshCart(car)">
        </label>
        <label class="item item-input">
            <div class="input-label">
                Precio: $ {{car.precio}}
            </div>
        </label>
        <label class="item item-input">
            <div class="input-label">
                Total $ {{car.total}}
            </div>
        </label>
        <button class="button button-positive button-full" ng-click="addCart(car)"><i class="icon ion-ios-cart"></i> Añadir al carro</button>
        <button class="button button-positive button-full" ng-click="addCartAndPay(car)"><i class="icon ion-ios-cart"></i> Añadir al carro y pagar</button>
    </div>
</ion-modal-view>