<ion-modal-view>
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Término de Servicio “Drinkit” </h1>
 </div>
    <ion-content class="padding" style="margin-top:50px; text-align: justify">
            <div>
            <p align="center"><span style="font-size: large; color: #ff0000;">Término de Servicio “Drinkit”</span></p>
            </div>
            Condiciones
        <p><button class="button button-full button-assertive" ng-click="toggleModal('hide')">Cerrar</button></p>
    </ion-content>
</ion-modal-view>

