<ion-modal-view style="color: white; background: rgba(0, 0, 0, 0.81) none repeat scroll 0px 0px; padding: 30px;">
    <div style="float:left" ng-click="closeModal();"><i class="icon ion-close"></i></div>
    <div style="text-align:center; font-weight:normal; font-size:20px">Búsqueda</div>
    <div style="margin-top: 50px;" class="list">
        <label class="item item-input">
          <input type="text" placeholder="Escriba lo que busca" ng-model="search.productos_nombre">
        </label>   
        <label class="item item-input item-select">
            <div class="input-label">
              Categorías
            </div>
            <select ng-model="search['productos.categorias_id']">
                <option value=""></option>
                <option value="{{i.id}}" ng-repeat="i in categorias">{{i.categorias_nombre}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Marcas
            </div>
            <select ng-model="search['productos.marcas_id']">
                <option value=""></option>
                <option value="{{i.id}}" ng-repeat="i in marcas">{{i.marcas_nombre}}</option>
            </select>
        </label>
        <button class="button button-positive button-full" ng-click="buscar(search)">BUSCAR</button>
    </div>
</ion-modal-view>