.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

a{
    color:black;
    text-decoration: none;
}

.pestanas{
    background:#b1b0af;
    padding:0px;
}

.pestanas > div{    
    padding:10px 0px;
}

.pestanas > div.active{
    border-bottom:5px solid black;    
}

.productgallery{
    border: 1px solid lightgray;
    -webkit-box-shadow: 0 0 10px #cde039;
    -moz-box-shadow: 0 0 10px #cde039;
    box-shadow: 0 0 10px #cde039;
    display: inline-block;
    margin: 10px;
    width: 40%;
    position: relative;
}

.productgallery .divider{
    background: black none repeat scroll 0 0;
    height: 2px;
    width: 80%;
    display: inline-block;
}

.productgallery .title{
    text-align: left;
    font-weight:bold;
    font-size:15px;
    padding:0px 10px;
    font-family:Square721;
    font-weight:bold;
    color:#40373A;
}

.productgallery .price{
    color: #ce3841;
    text-align: left;
    font-weight: bold;
    padding:5px 10px;
}

.productgallery .addCart{
    position:absolute;
    bottom: -11px;
    right:0px;
}
.productgallery .addCart .content{
    position:relative;
}

.productgallery .addCart .content div{
    position: absolute;
    top: -10px;
    right: -10px;
}

.productgallery .addCart .content img{
    width:20px;
}

.productgallery .count{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #cde039;
    min-width: 24px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.errormessage{
    font-weight:bold;
    text-align:center;
    padding:20px;
}

.bar.bar-positive {
    background-color: #333;
    background-image: linear-gradient(0deg, #333, #000 50%, transparent 50%);
    border-color: #000;
    color: #fff;
}

.removeCart{
    color:red
}

.selectnoclass{
    background-image: linear-gradient(to bottom,#fffff,#fffff);
    
}

.label-danger{
    color:red;
}
.label-success{
    color:green;
}

#sidemenuheader{
    height: 98px;
}
#sidemenuheader img{
    width:30%; margin-top:10px; background-color:black;
}
#nameSideMenu{
    font-size: 12px;
    margin-top: -25px;
}
#sidemenuheader.bar.bar-positive .title {
    color: #fff;
    height: 98px;
    font-weight:bold;
    font-size:15px;
    font-family:Tw cent;
    text-transform: uppercase;
}

.menu .scroll-content {
    z-index: 10;
    background: black;
}

.sideitems{
    margin-top:50px;
}
.sideitems a{
    background:black;
    color:white;
    border: 0px;
    text-align: center;
    padding: 8px;
}

.sideitems i{
    display:block;
    font-size:42px;
    color:#333333;
}

.buttons-right{
    color: #fff !important;
    font-family: Swis721 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    margin-top: 7px;
}