<ion-view title="Mis datos">
  <ion-content class="has-header">
      <ion-list>
          <div class="item item-divider">Datos de registro</div>            
            <ion-item ng-click="toggleGroup(0)">                    
                <i class="icon" ng-class="isGroupShown(0) ? 'ion-minus' : 'ion-plus'"></i>
                Datos personales
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(0)">
              <div class="list">
                    <div class="item" style="text-align: center;">                      
                          <div class="imageList" style="background:url({{datos.foto!=undefined?urlServer+'/img/fotos/'+datos.foto:'img/vacio.png'}}); background-size:100%; height:80px; width:80px; display:inline-block;" ng-click="triggerFile();"></div>                      
                    </div>
                    <label class="item item-input">
                        <input type="email" placeholder="Email" ng-model="datos.email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Contraseña" ng-model="datos.password">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Nombre y Apellido" ng-model="datos.repartidores_nombre">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Teléfono Fijo" ng-model="datos.telefono">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Celular" ng-model="datos.celular">
                    </label>
              </div>
          </ion-item>            
        <button ng-click="send(datos)" class="button button-balanced button-block">Actualizar datos</button>
        </ion-list>
  </ion-content>
</ion-view>