<ion-view title="Envío #{{detail.id}}">
  <ion-content class="has-header">
      <ion-list>          
            <ion-item>
              <ul class="list">
                    <li class="item item-divider">
                        Datos de envio
                    </li>
                    <li class="item item-text-wrap">
                        <b>Dirección: </b> {{ventas.direccion_envio}}
                    </li>
                    <li class="item">
                        <b>Estado: </b> {{ventas.statusText}}
                    </li>
                    <li class="item">
                        <b>Hora Pedido:  </b> {{ventas.fecha_solicitud}}
                    </li>
                    <li class="item">
                        <b>Hora Entrega  </b> {{ventas.fecha_entrega}}
                    </li>
                </ul>
          </ion-item>
        </ion-list>
        <div class="card">
          <div class="item item-divider">            
            <h2>Productos</h2>            
          </div>
           <div class="item item-avatar item-icon-right" ng-repeat='i in ventas.productos'>
            <img src="{{urlServer+'/img/fotos/'+i.foto_portada}}">
            <h2>{{i.productos_nombre}} | <small>{{i.composicion}}</small></h2>
            <p>Cantidad: {{i.cantidad}} - Total: $ {{i.total}}</p>          
          </div>
        </div>      
        <div class="card">
            <div class="item item-divider">
                Datos del cliente
            </div>
            <div class="item item-avatar item-icon-right">
                <img src="{{ventas.cliente.foto}}">
                <h2>{{ventas.cliente.clientes_nombre}}</h2>
                <p>{{ventas.cliente.telefono}} | {{ventas.cliente.celular}}</p>
                <a href="tel:{{ventas.cliente.celular}}"><i class="icon ion-ios-telephone"></i></a>
            </div>
      </div>
  </ion-content>
</ion-view>