<ion-view title="Dashboard">
  <ion-content class="has-header" overflow-scroll="true" style="{{task.length==0 || task[0].status==2?'margin-top: 50%; text-align:center;':''}}">      
      <h3 ng-if="task.length==0">No tiene tareas pendientes</h3>
      <div ng-if="task.length>0 && task[0].status==2">
            <h3>
                Tienes un envío asignado para: <b>{{task[0].direccion_envio}}</b>
            </h3>
          <button class="button button-balanced" ng-click="start()"><i class="icon ion-android-navigate"></i> Notificar tránsito</button>
      </div>
      <div ng-if="task.length>0 && task[0].status==3" class="row pestanas">
          <div class="col" style="text-align:center; background:#ce3841; color:white;" ng-click="complete()"><i class="icon ion-checkmark-circled"></i> Completar</div>
          <div class="col" style="text-align:center; background:#000; color:white;" ng-click="showDirection()"><i class="icon ion-map"></i> Dirección</div>
          <div class="col" style="text-align:center; background: #387ef5; color:white;" ng-click="openNavigation()"><i class="icon ion-ios-navigate"></i> Navegación</div>
      </div>
      <app-map ng-if="task.length>0 && task[0].status==3" center="basel" zoom="17" icon="iconMap" heightmap="innerheight" markers="markers"></app-map>
  </ion-content>
</ion-view>