<ion-view title="Envios">
  <ion-content class="has-header">
      <ion-refresher pulling-text="Suelta para actualizar" on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <div class="item item-input item-select">                
                    <div class="input-label">
                      Lista de envíos
                    </div>
                    <select ng-model="filtro">
                      <option value="">Todos</option>
                      <option value="Recogiendo">Recogiendo</option>
                      <option value="En tránsito">En tránsito</option>
                      <option value="Completado">Completado</option>
                    </select>
            </div>
            <a href="#/tab/task/{{i.id}}" class="item" ng-repeat="i in lista | filter:filtro | orderBy:'-id'">
                No. Envío: {{i.id}} - {{i.statusText}}
            </a>
      </div>
  </ion-content>
</ion-view>