<ion-view title="Balance">
  <ion-content class="has-header">
      <div class="list">
        <div class="item item-divider">
          Balance
        </div>
        <div class="item">
            <i class="icon ion-reply-all"></i> Pago envios: $ 0
        </div>
        <div class="item">
            <i class="icon ion-share"></i> Saldo disponible: $ 0
        </div>
        <div class="item">
            <i class="icon ion-cash"></i> Compras: $ 0
        </div>
      </div>
  </ion-content>
</ion-view>