<ion-view title="Carrito">
  <ion-content class="has-header">
      <div class="card">
        <div class="item item-avatar item-icon-right" href="#" ng-repeat='i in list'>
          <img src="{{urlServer+'/img/fotos/'+i.foto_portada}}" ng-click='addCartModal(i)'>
          <h2 ng-click='addCartModal(i)'>{{i.nombre}} | <small>{{i.composicion}}</small></h2>
          <p ng-click='addCartModal(i)'>Cantidad: {{i.cantidad}} - Total: {{i.total}}</p>
          <i class="removeCart icon ion-backspace" ng-click="remCart(i.id)"></i>
        </div>
        <div class="item item-avatar item-icon-right" href="#">
          <h2>Total Compra: ${{total}}</h2>          
        </div>
      </div>
      <div class="item item-avatar item-icon-right" href="#" ng-if="list.length===0">
          <p>Carrito Vacio</p>
      </div>
      </div>
      <button class="button button-positive button-full" ng-if="list.length!=0" ng-click="procesar()">Procesar Compra</button>
  </ion-content>
</ion-view>