<ion-view title="Mis datos">
  <ion-content class="has-header">
      <ion-list>
          <div class="item item-divider">Datos de registro</div>            
            <ion-item ng-click="toggleGroup(0)">                    
                <i class="icon" ng-class="isGroupShown(0) ? 'ion-minus' : 'ion-plus'"></i>
                Datos personales
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(0)">
              <div class="list">
                  <div class="item" style="text-align: center; {{mostrar?'position:static':''}}">                      
                        <div class="imageList {{mostrar?'showPicture':''}}" style="background:url({{typeof(datos.foto)!=='undefined' && datos.foto!=='undefined'?urlServer+'/img/clientes/'+datos.foto:'img/vacio.png'}}); background-size:100%; height:80px; width:80px; display:inline-block;" ng-click="mostrar = mostrar?false:true"></div>
                        <div style="position:absolute; top:10px; right:10px" ng-click="triggerFile();"><i class="icon ion-edit"></i> Editar</div>
                  </div>
                    <label class="item item-input">
                        <input type="email" placeholder="Email" ng-model="datos.email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Contraseña" ng-model="datos.password">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Nombre y Apellido" ng-model="datos.clientes_nombre">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Teléfono Fijo" ng-model="datos.telefono">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Celular" ng-model="datos.celular">
                    </label>
              </div>
          </ion-item>
            <ion-item ng-click="toggleGroup(1)">                    
                <i class="icon" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>
                Datos financieros
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(1)">
              <div class="list">
                    <label class="item item-input">
                      <input type="text" ng-model="datos.nombre_tarjeta" placeholder="Nombre Tarjeta Habiente">
                    </label>
                    <label class="item item-input">
                      <input type="text" ng-model="datos.tarjeta" placeholder="{{tarjetin}}">
                    </label>
                    <label class="item item-input">
                      <input type="password" ng-model="datos.cvc" placeholder="CVC">
                    </label>
                    <label class="item item-input">
                      <input type="number" ng-model="datos.mes_vencimiento" placeholder="Mes de vencimiento">
                    </label>
                    <label class="item item-input">
                      <input type="number" ng-model="datos.anio_vencimiento" placeholder="Año de vencimiento">
                    </label>
              </div>
          </ion-item>          
        <button ng-click="send(datos)" class="button button-balanced button-block">Actualizar datos</button>
        </ion-list>
  </ion-content>
</ion-view>