<ion-view title="Dirección">
  <ion-content class="has-header">
      <div class="card">
          <div class="item item-input-inset">
                <label class="item-input-wrapper">
                      <places-autocomplete ng-model="dir.direccion" tipo="0" indice="0" style="width:100%; border:0px" selectfields="selectFieldsFunction"> </places-autocomplete>
                </label>
                <button class="button button-small" ng-click="gps()">
                    <i class="icon ion-ios-location-outline"></i>
                </button>
          </div>          
            <label class="item item-input" ng-show="showFields">
                 <span class="input-label">Calle</span>
                 <input type="text" placeholder="Calle" ng-model="dir.calle">
            </label>
            <label class="item item-input" ng-show="showFields">
                 <span class="input-label">#Ext</span>
                 <input type="text" placeholder="No. Ext" ng-model="dir.ext">
            </label>                          
            <label class="item item-input" ng-show="showFields">
                 <span class="input-label">#Int</span>
                 <input type="text" placeholder="No. Int" ng-model="dir.int">
            </label>
            <label class="item item-input" ng-show="showFields">
                <span class="input-label">Colonia</span>
                 <input type="text" placeholder="Colonia" ng-model="dir.colonia">
            </label>
            <label class="item item-input" ng-show="showFields">
                <span class="input-label">Municipio</span>
                 <input type="text" placeholder="Municipio" ng-model="datos.delegacion">
            </label>
            <label class="item item-input" ng-show="showFields">
                 <span class="input-label">CP</span>
                 <input type="text" placeholder="CP" ng-model="dir.cp">
            </label>
            <label class="item item-input" ng-show="showFields">
                 <span class="input-label">Estado</span>
                 <input type="text" placeholder="Estado" ng-model="dir.ciudad">
            </label>
            <label class="item item-input" ng-show="showFields">
                 <span class="input-label">Observ.</span>
                 <input type="text" placeholder="Observaciones" ng-model="dir.localidad">
            </label>
      </div>
      <button class="button button-positive button-full" ng-if="list.length!=0" ng-click="procesar()" ng-show="showFields">Cargar Pago</button>
  </ion-content>
</ion-view>