<ion-view title="Bebidas">
  <ion-content class="has-header">
      <div class="row pestanas">
          <div class="col {{i.active?'active':''}}" ng-repeat="i in categorias" style="text-align:center" ng-click="activar($index)">{{i.categorias_nombre}}</div>
      </div>
      <center><ion-spinner icon="android" ng-show="loadingSpinner"></ion-spinner></center>
      <div  class="errormessage" ng-if='productos.length===0'>¡Oops! Lo sentimos no hemos encontrado productos para esta categoría</div>
      <div style="text-align:center">
          <div class="productgallery" ng-repeat="i in productos">
              <div  ng-click="addCartModal(i)">
                    <img src="{{urlServer+'/img/fotos/'+i.foto_portada}}" class="full-image">
                    <div class='divider'></div>
                    <div class="title">{{i.productos_nombre}}</div>
                    <div style="text-align: left; padding:0 10px;">({{i.composicion}})</div>
                    <div class="price">$ {{i.precio}}</div>
              </div>
              <div class="addCart"  ng-click="addCartModal(i)">
                  <div class="content">
                        <img src="img/vaso.png">
                        <div><img src="img/icon_plus.png"></div>
                  </div>
              </div>
              <div class="count">{{getCant(i.id)}}</div>
          </div>
      </div>
  </ion-content>
</ion-view>