<ion-view title="Confirma">
  <ion-content class="has-header">
      <div style="width: 100%; min-height: 30px; position: absolute; top:0px; left: 0px; z-index: 1000; background: rgba(0,0,0,.8);">
            <div style="width:48%; text-align:center; display:inline-block; text-overflow: ellipsis; white-space:nowrap; overflow:hidden;">
                <button class="button button-block" ng-click="cancelar()">Cancelar</button>
            </div>
            <div style="width:49%; text-align:center; display:inline-block; text-overflow: ellipsis; white-space:nowrap; overflow:hidden;">
                <button class="button button-block" ng-click="confirmar()">Confirmar</button>
            </div>
      </div>
      
      <div id="posicionactual" style="position:absolute; left:0px; z-index:10000; bottom:80px; width:70%; background:white; padding:10px;">
          {{direccion}}
      </div>
      <app-map center="basel" zoom="17" location="location" direccion="direccion" icon="iconMap" heightmap="innerheight"></app-map>
  </ion-content>
</ion-view>