<ion-view title="Cargar pago">
  <ion-content class="has-header">
      <div class="card">
          <div class="item item-divider">
            Información de pago
          </div>
          <div class="item">
              Cantidad de productos: <b>{{list.length}}</b>
          </div>
          <div class="item">
              Precio total a pagar: <b>{{total}}</b>
          </div>
          <div class="item">
              Precio por envío: <b>0</b>
          </div>          
          <div class="item item-input">
              <span class="input-label">Numero de tarjeta: </span>
              <input type="text" placeholder="#Tarjeta" ng-model="tarjeta.tarjeta">
          </div>
          <div class="item item-input">
              <span class="input-label">Nombre en la tarjeta:  </span>
              <input type="text" placeholder="Nombre en la tarjeta" ng-model="tarjeta.nombre_tarjeta">
          </div>
          <div class="item item-input">
              <span class="input-label">Código de seguridad:  </span>
              <input type="text" placeholder="CVC" ng-model="tarjeta.cvc">
          </div>
          <div class="item item-input">
              <span class="input-label">Fecha Venc.:  </span>
              Mes: <select class="selectnoclass" ng-model="tarjeta.mes"><option {{tarjeta.mes==i?'selected':'}} ng-repeat="i in meses">{{i}}</option></select>
              Año: <select class="selectnoclass" ng-model="tarjeta.anio"><option {{tarjeta.anio==i?'selected':'}} ng-repeat="i in anios">{{i}}</option></select>
          </div>
          <div class="item">
                <ion-checkbox ng-model="tarjeta.guardar">Guardar información de pago</ion-checkbox>
            </div>
      </div>
      <button class="button button-positive button-full" ng-click="pagar()" ng-if="total>0">Cargar Pago</button>
  </ion-content>
</ion-view>