<ion-view title="{{producto.productos_nombre}}">
  <ion-content class="has-header">
    <div class="bar bar-header item-input-inset" ng-if="producto!==undefined">        
        Calificación: {{producto.calificacion}} de 5 | Ref: #0000{{producto.id}}        
    </div>
    <div class="card">
          <center><ion-spinner icon="android" ng-show="loadingSpinner"></ion-spinner></center>
          <div class="item item-text-wrap" style="position:relative">
              <div style="position:absolute; top:10px; right:20px; color:red; font-size:18px; font-weight: bold;" ng-click="searchModal()">
                  $ {{producto.precio}} 
                  <span><i class="icon ion-ios-cart" ng-click="addCartModal()"></i></span>
              </div>
              <img class="full-image" src="{{urlServer+'/img/fotos/'+producto.foto_portada}}">
              <div>
                  {{producto.descripcion}}
              </div>              
          </div>
      </div>
  </ion-content>
</ion-view>