<ion-side-menus>
        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>                    
                </ion-nav-buttons>
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="right" >
                    TODO CON MEDIDA
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="tab-main" animation="slide-left-left"></ion-nav-view>
        </ion-pane>

        <ion-side-menu width="180" side="left">
            <header class="bar bar-header bar-positive" id="sidemenuheader">
                <div class="title">
                    <div><img src="{{foto}}"></div>
                    <div id="nameSideMenu">{{nombre}}</div>
                </div>
            </header>
            <ion-content class="has-header">
                <ul class="list sideitems">
                    <a ui-sref="tab.main" menu-toggle="left" nav-clear class="item">Inicio <i class="icon ion-android-home"></i></a>
                    <a ui-sref="tab.carrito" menu-toggle="left" nav-clear class="item">Carrito <i class="icon ion-ios-cart"></i></a>
                    <a ui-sref="tab.cuenta" menu-toggle="left" nav-clear class="item">Mi cuenta <i class="icon ion-person"></i></a>
                    <a ui-sref="tab.ventas" menu-toggle="left" nav-clear class="item">Compras <i class="icon ion-social-usd"></i></a>
                    <a ng-click="desconectar()" menu-toggle="left" nav-clear class="item">Log out <i class="icon ion-log-out"></i></a>
                </ul>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>