<ion-view title="Compras">
  <ion-content class="has-header">
      <div class="card">
            <a href="#/tab/ventas/{{i.id}}" class="item item-icon-right" ng-repeat='i in ventas'>              
                <h2>Venta #{{i.id}} - <small ng-bind-html="i.statusText"></small></h2>
              <p>Total: $ {{i.total}}</p>
              <i class="icon ion-chevron-right"></i>
            </a>          
          <div class="item item-icon-right" href="#" ng-if="list.length===0">
              <p>No has realizado compras</p>
          </div>
      </div>      
  </ion-content>
</ion-view>