<ion-view view-title="Dashboard">
  <ion-content class="padding login">
      <div>
          <img src="img/loginLogo.png" class="full-image" style="margin: -9px 0 0 -9px; width: 106%;">
          <form ng-submit="login(data)">
          <div class="list" style="margin-top:10px;">
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input">
                  <i class="icon ion-key placeholder-icon"></i>
                  <input type="password" ng-model="data.password" placeholder="Contraseña">
                </label>
                <button type="submit" class="button button-positive button-full">Ingresar</button>
                <div  style="text-align: center"><a href='#/tab/recover' style="color:white; text-decoration:none;">¿Olvido su Contraseña?</a></div>
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
