<ion-view view-title="Dashboard">
  <ion-content class="padding login">      
      <div style="margin-top:280px;">
          <form ng-submit="login(data)">
          <div class="list">
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <button type="submit" class="button button-positive button-full">Recuperar contraseña</button>                
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
